:root {
    --primaryColor: #0e2c59;
    --secondaryColor: #0096bf;
    --thirdColor: #ff0700;
    --principalFont: "Nunito", sans-serif;
    --fondoGris: rgb(245, 245, 245)
}


.bodyGeneral {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}

.containerCardsKPI {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.filterArea {
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 1%;
}

.testType {
    font-size: 25px;
    font-weight: 800;
    color: var(--primaryColor);
}

.filterGeneral {
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconFilter {
    width: 40px;
}

.selectGeneral {
    outline: none;
    border: none;
    font-size: 18px;
    background-color: var(--primaryColor);
    padding: 10px 15px 10px 10px;
    color: white;
    border-radius: 10px;
}

.selectGeneral option {
    background-color: white;
    color: var(--primaryColor);
}

.selectGeneral:focus-within {
    background-color: var(--thirdColor);
    color: white;
}

.selectGeneral option:hover {
    opacity: 0;
}

.contentCards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.containerMetrics {
    width: 250px;
    height: 280px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.metricsTitle {
    padding: 5px 0px;
    color: white;
    background-color: var(--thirdColor);
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.containerKPIS {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.withKPI,
.withOutKPI {
    width: 100%;
    border-bottom: 2px solid var(--secondaryColor);
    padding: 5px 0px;
    text-align: center;
    font-weight: 800;
}

.valorKPI {
    font-weight: 800;
    color: var(--primaryColor);
    font-size: 18px;
}

.containerGraphicKPI {
    margin: 10px 0;
    width: 95%;

}



.contentHistoricGraphic {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 0 auto;
}

.containerHistoricGraphic {
    width: 47.5%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}


.containerGraphicDevice {
    width: 47.5%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.containerHistoric {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    height: 360px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.graphicTableKpiDevice {
    width: auto !important;
    height: 100% !important;
    margin: 0 auto;
}



.historicGraphicClass {
    height: auto !important;
    width: 80% !important;
    margin: 0 auto;
}

.diferenceContainerKPI {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diferenceKPI {
    width: 100%;
    background-color: var(--primaryColor);
    color: white;
    padding: 5px 0px;
    text-align: center;
    font-weight: 800;
}